<!doctype html>

<html lang="en">
<%- include('partials/html-head', {title: `${typeof post !== "undefined" ? "Edit" : "New"} post`}); -%>

<body>
  <div id="app" class="wrap">
    <%- include('partials/header', {title: `${typeof post !== "undefined" ? "Edit" : "New"} post`}); -%>

    <section id="postbox">
      <form @submit.prevent="<%- typeof post !== "undefined" ? `updatePost('${post._id}')` : "createPost" %>">
        <textarea v-model="post.text" placeholder="start writing.." <% if(typeof post === "undefined") { %>@keyup="onPostChange" <% } %>></textarea>
        <div class="spacer"></div>
        <div class="flex">
          <div class="flex-1">
            <% if(typeof post !== "undefined") { %>
            <a href="javascript:void(0)" v-on:click="deletePost(<%- `'${post._id}'` %>)" class="red">delete post</a>
            <% } %>
          </div>
          <button type="submit"><%- typeof post !== "undefined" ? "update" : "post" %></button>
        </div>
      </form>
    </section>
    <%- include('partials/footer'); -%>
  </div>
  <% if(typeof post !== "undefined") { %>
  <script type="text/javascript">
    window.onload = () => {
      App.post = {
        text: "<%- JSON.stringify(post.text).slice(1, -1) %>"
      }
    }
  </script>
  <% }else { %>
  <script type="text/javascript">
    window.onload = () => {
      App.post = {
        text: window.localStorage.newPost ?? ""
      }
    }
  </script>
  <% } %>
</body>

</html>