<!doctype html>

<html lang="en">
<%- include('partials/html-head', {title: `${typeof post !== "undefined" ? "Edit" : "New"} post`}); -%>

<body>
  <div id="app" class="wrap">
    <%- include('partials/header', {title: `${typeof post !== "undefined" ? "Edit" : "New"} post`}); -%>

    <section id="postbox">
      <form @submit.prevent="<%- typeof post !== "undefined" ? `updatePost('${post._id}')` : "createPost" %>">
        <textarea v-model="post.text" placeholder="Start writing.."></textarea>
        <div class="spacer"></div>
        <div class="flex">
          <div class="flex-1"><em>Supports markdown</em></div>
          <button type="submit">Post</button>
        </div>
        <% if(typeof post !== "undefined") { %>
        <a href="javascript:void(0)" v-on:click="deletePost(<%- `'${post._id}'` %>)" class="red">delete this post</a>
        <% } %>
      </form>
    </section>
    <%- include('partials/footer'); -%>
  </div>
  <% if(typeof post !== "undefined") { %>
  <script type="text/javascript">
    window.onload = () => {
      App.post = {
        text: "<%- JSON.stringify(post.text).slice(1, -1) %>"
      }
    }
  </script>
  <% } %>
</body>

</html>